.con{
    width: 100%;
    font-family: sans-serif;
}
.first{
    height: 100vh;
    width: 100%;
    background-image: url('/src/assets/images/ng-couples-personal-loan-1600x550-2.jpeg');
    background-size: cover;
    display: flex;
    background-position: top;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.807);
    background-blend-mode: darken;
}
.info{
    width: 60%;
    padding: 200px 100px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info h1{
    font-size: 60px;
}
.info p{
    font-size: 23px;
    padding-top: 20px;
}
.buttons{
    display: flex;
    gap: 10px;
    padding-top: 40px;
}
.buttons a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 25px;
    background-color: rgba(70, 70, 214, 0.895);
    border-radius: 30px;
    color: white;
    font-size: 16px;
}
